body
{
    margin: 0;
}

.container
{
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.padding-site
{
    padding: 50px;
    box-sizing: border-box;
}

.main-header
{
    width: 100%;
    background-color:#445161;
    color: white;
    font-family: Arial;
}

.main-header:after
{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp
{
    width: 711px;
    float: left;
}

.main-header-title
{
    display: block;
    margin: 0 0 10px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.main-header-list
{
    margin: 0;
    list-style-type: none;
    padding: 0 0 0 16px;
}

.main-header-list-item
{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.main-header-list-item:before
{
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 4px;
    left: -32px;
    background-image: url(image/header_check.png);
    -webkit-background-size: cover;
    background-size: cover;
}

.main-header-image
{
    display: block;
    width: 469px;
    min-height: 214px;
    background-color: #fff;
    float: right;
}

.main-about-product-block
{
    background-color:#fff;
}

.main-about-product-block:after
{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

main-about-product-text-block
{
    width: 750px;
    float: left;
}

.main-about-product-title
{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.main-about-product-text
{
    width: 650px;
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-about-product-video
{
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}